@using SOHU.Data.DataTransferObject
@using SOHU.Data.Models
@using SOHU.Data.Respositories
@using SOHU.Data.Helpers
@model IEnumerable<Product>
<link rel="stylesheet" href="~/css/theme-shop.css">
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
<div>
    <div class="row equal">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                <div class="col-md-3" style="height:100%;">
                    @{
                        var url = item.MetaTitle + "-" + item.Id;
                    }
                    <div class="card-group">
                        <div class="card h-100">
                            <img class="card-img-top" src="@item.Image" alt="@item.Title">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text text-primary h5">@item.Price?.ToString("N2")</p>
                                <a asp-action="Create" asp-controller="Cart" class="btn btn-primary">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
                }
            }
        }
    </div>
    <div class="row">
        <div class="col">
            <ul class="pagination float-right">
                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <a class="page-link" href="#"><i class="fas fa-angle-right"></i></a>
            </ul>
        </div>
    </div>
</div>
