@{
    ViewData["Title"] = "System config - Cấu hình hệ thống ";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}
<script src="~/js/mustache.min.js"></script>
<script id="gridTemplate" type="x-tmpl-mustache">
    <table class="table table-bordered table-hover" style="overflow-x:auto;">
        <thead>
            <tr>
                <th class="bg-primary" style="cursor:pointer;">Id</th>
                <th class="bg-primary" style="cursor:pointer;">Groupname</th>
                <th class="bg-primary" style="cursor:pointer;">Codename</th>
                <th class="bg-primary" style="cursor:pointer;">Codename sub</th>
                <th class="bg-primary" style="cursor:pointer;">Sort order</th>
            </tr>
        </thead>
        <tbody>
            {{#Data}}
            <tr>
                <td>{{Id}}</td>
                <td>{{Groupname}}</td>
                <td>{{Codename}}</td>
                <td>{{Codenamesub}}</td>
                <td>{{SortOrder}}</td>
                <td>
                    <div>
                        <a class="btn btn-success" onclick="onOpenDetail({{Id}})"><i class="fas fa-external-link-alt"></i></a>
                        <button class="btn btn-danger" onclick="onConfirm({{Id}}, 'Config')"><i class="fas fa-trash"></i></button>
                    </div>
                </td>
            </tr>
            {{/Data}}
        </tbody>
    </table>
</script>
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Danh sách bài viết</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a>Bài viết</a></li>
                    <li class="breadcrumb-item active">Tất cả</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="card w-100" style="overflow-x:auto;">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div class="toolbar">
                            <a class="btn btn-success" asp-action="Detail" asp-controller="Config" asp-route-ID="0"><i class="fas fa-plus text-white"></i></a>
                        </div>
                        <input type="text" placeholder="Tìm kiếm" class="form-control" style="flex-basis:20%;" />
                    </div>
                </div>
                <div class="card-body">
                    <div id="grid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="modal-area-content"></div>
<script>
    $(document).ready(() => {
        fetchData();
    })

    function onOpenDetail(Id) {
        var url = "@Url.Action("Detail","Config")" + "?ID=" + Id;
        window.location.href = url;
    }

    function onConfirm(Id, Object) {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("ConfirmDialog", "Config")",
            data: {
                Object: Object,
                Id: Id
            },
            success: (res) => {
                $("#modal-area-content").empty();
                $("#modal-area-content").html(res);
            }
        }).done(() => {
            Initialization(null, null, () => {
                fetchData();
                $("#modal-area-content").empty();
            });
        });
    }

    function fetchData() {
        $.ajax({
            type: 'GET',
            url: "@Url.Action("GetAllToList", "Config")",
            data: {

            },
            success: (res) => {
                console.log(res);
                var table = $("#gridTemplate").html();
                var grid = Mustache.render(table, { Data: res });
                $("#grid").empty();
                $("#grid").html(grid);
            }
        });
    }

    function Notify(type, message) {
        switch (type) {
            case "success":
                toastr.success(message);
                break;
            case "info":
                toastr.info(message);
                break;
            case "error":
                toastr.error(message);
                break;
            case "warning":
                toastr.warning(message);
                break;
        }
    }

    function onCreateSitemap() {
        $.ajax({
            type: 'POST',
            url: "@Url.Action("CreateSitemap","Post")",
            data: {

            },
            success: (res) => {
                var messageType = res.split('-')[0];
                var note = res.split('-')[1];
                Notify(messageType.trim(), note);
            }
        });
    }
</script>

