@inherits LayoutComponentBase

<TelerikRootComponent>



    <div class="main">
        <div class="top-row px-4">
            <NavLink class="nav-link" href="">
                Mua
            </NavLink>
            <NavLink class="nav-link" href="counter">
                Bán
            </NavLink>
        </div>
        <div class="content px-4">
            @Body
        </div>
    </div>

</TelerikRootComponent>